ignored
.DS_Store
my-react-app/package-lock.json
my-react-app/package.json
my-react-app/public/favicon.ico
my-react-app/public/logo192.png
my-react-app/public/logo512.png
my-react-app/public/manifest.json
my-react-app/public/robots.gitignore.txt
my-react-app/README.md
my-react-app/src/logo.svg
my-react-app/src/serviceWorker.js
package-lock.json
my-react-app/src/App.css
my-react-app/public/index.html
my-react-app/src/App.js
my-react-app/src/App.test.js
my-react-app/src/index.css
my-react-app/src/index.js
react-folder/public/favicon.ico
react-folder/public/logo192.png
react-folder/public/logo512.png
react-folder/public/robots.txt
react-folder/README.md
react-folder/src/logo.svg
react-folder/src/serviceWorker.js
sample-project-1/public/robots.txt
