ignored
.DS_Store
my-react-app/package-lock.json
my-react-app/package.json
my-react-app/public/favicon.ico
my-react-app/public/logo192.png
my-react-app/public/logo512.png
my-react-app/public/manifest.json
my-react-app/public/robots.gitignore.txt
my-react-app/README.md
my-react-app/src/logo.svg
my-react-app/src/serviceWorker.js
package-lock.json
